{
    "test": "",
    "plugins": [
        [
            "@babel/plugin-transform-modules-commonjs",
            {
                "format": "mjs"
            }
        ],
        [
            "module-extension",
            {
                "mjs": "js"
            }
        ]
    ]
}